body {
    background-color: black;
    width: 100%;
    background-image: url("../images/space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Comic Sans MS", "Anime Ace BB";
    color: whitesmoke;
}

@font-face {
    font-family: "Anime Ace BB";
    src: url("../fonts/animeace2_bld.ttf") format("truetype");
}

.header {
    font-size: x-large;
    color: khaki;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.translucent {
    background-color: rgba(46, 45, 45, 0.5);
}

a.no-underline {
    text-decoration: none;
    color: white;
}

a.title {
    text-align: center;
    font-family: 'Anime Ace BB';
    font-size: 64px;
    text-decoration: none;
    background-image: repeating-linear-gradient(45deg, #ff0000, #ff6600 20px, #ffcc00 40px, #33cc33 60px, #0099cc 80px, #6633cc 100px, #cc33cc 120px);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 600% 100%;
    animation: gradient 30s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}